<a href="https://colab.research.google.com/github/alcorrea40/python-colab-notebooks/blob/main/Actividad_Merge_Concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad Interactiva #1: Combinando datasets: merge() y concat()
Aprenderás a combinar DataFrames usando las funciones `pandas`: `concat()`, `merge()` y `join()`, y explorarás cómo detectar duplicados y valores nulos que surgen al unir datos.

## 1. Concatenación con `concat()`

In [1]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Concatenar por filas (axis=0)
print(pd.concat([df1, df2], axis=0))

# Concatenar por columnas (axis=1)
print(pd.concat([df1, df2], axis=1))

   A  B
0  1  3
1  2  4
0  5  7
1  6  8
   A  B  A  B
0  1  3  5  7
1  2  4  6  8

## 2. Fusión con `merge()`

In [2]:
left = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [10, 20, 30]})
right = pd.DataFrame({'key': ['B', 'C', 'D'], 'score': [100, 200, 300]})

# Merge tipo inner
print(pd.merge(left, right, on='key', how='inner'))

  key  value  score
0   B     20    100
1   C     30    200

## 3. Tipos de `merge()`

In [3]:
# Left join
print(pd.merge(left, right, on='key', how='left'))

# Right join
print(pd.merge(left, right, on='key', how='right'))

# Outer join
print(pd.merge(left, right, on='key', how='outer'))

  key  value  score
0   A     10    NaN
1   B     20  100.0
2   C     30  200.0
  key  value  score
0   B   20.0    100
1   C   30.0    200
2   D    NaN    300
  key  value  score
0   A   10.0    NaN
1   B   20.0  100.0
2   C   30.0  200.0
3   D    NaN  300.0

## 4. `join()` con índices

In [4]:
df1 = pd.DataFrame({'A': [1, 2, 3]}, index=['x', 'y', 'z'])
df2 = pd.DataFrame({'B': [4, 5, 6]}, index=['x', 'y', 'z'])

print(df1.join(df2))

   A  B
x  1  4
y  2  5
z  3  6

## 5. Detección de duplicados y valores nulos

In [5]:
merged = pd.merge(left, right, on='key', how='outer')
print("Duplicados:")
print(merged.duplicated())

print("Valores nulos:")
print(merged.isnull().sum())

Duplicados:
0    False
1    False
2    False
3    False
dtype: bool
Valores nulos:
key      0
value    1
score    1
dtype: int64

## Conclusión
Con estas herramientas puedes integrar múltiples fuentes de datos en un solo DataFrame, preparando el terreno para análisis más complejos. ¡Explora y experimenta con tus propios ejemplos!