<a href="https://colab.research.google.com/github/alcorrea40/python-colab-notebooks/blob/main/Colab_Combinar_Datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad Interactiva #1: Combinando datasets: `merge()` y `concat()`
En este cuaderno aprenderás a combinar estructuras de datos con `pandas` usando `concat()`, `merge()` y `join()`, y a detectar duplicados y valores faltantes generados durante estos procesos.

## 1. Concatenación con `concat()`

In [1]:
import pandas as pd

# Crear dos DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Concatenar por filas (axis=0)
print('Concatenación vertical:')
print(pd.concat([df1, df2], axis=0))

# Concatenar por columnas (axis=1)
print('Concatenación horizontal:')
print(pd.concat([df1, df2], axis=1))

Concatenación vertical:
   A  B
0  1  3
1  2  4
0  5  7
1  6  8
Concatenación horizontal:
   A  B  A  B
0  1  3  5  7
1  2  4  6  8

## 2. Fusión con `merge()`

In [2]:
# Crear DataFrames con columna clave
left = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [10, 20, 30]})
right = pd.DataFrame({'key': ['B', 'C', 'D'], 'score': [100, 200, 300]})

# Merge tipo inner
print('Inner merge:')
print(pd.merge(left, right, on='key', how='inner'))

Inner merge:
  key  value  score
0   B     20    100
1   C     30    200

## 3. Tipos de `merge()`

In [3]:
print('Left merge:')
print(pd.merge(left, right, on='key', how='left'))

print('Right merge:')
print(pd.merge(left, right, on='key', how='right'))

print('Outer merge:')
print(pd.merge(left, right, on='key', how='outer'))

Left merge:
  key  value  score
0   A     10    NaN
1   B     20  100.0
2   C     30  200.0
Right merge:
  key  value  score
0   B   20.0    100
1   C   30.0    200
2   D    NaN    300
Outer merge:
  key  value  score
0   A   10.0    NaN
1   B   20.0  100.0
2   C   30.0  200.0
3   D    NaN  300.0

## 4. `join()` con índices

In [4]:
# Crear DataFrames con índice
df1 = pd.DataFrame({'A': [1, 2, 3]}, index=['x', 'y', 'z'])
df2 = pd.DataFrame({'B': [4, 5, 6]}, index=['x', 'y', 'z'])

# Usar join()
print(df1.join(df2))

   A  B
x  1  4
y  2  5
z  3  6

## 5. Detección de duplicados y valores nulos

In [5]:
merged = pd.merge(left, right, on='key', how='outer')
print('Ver duplicados:')
print(merged.duplicated())

print('Conteo de valores nulos:')
print(merged.isnull().sum())

Ver duplicados:
0    False
1    False
2    False
3    False
dtype: bool
Conteo de valores nulos:
key      0
value    1
score    1
dtype: int64

## ✅ Conclusión
Ahora sabes cómo combinar DataFrames usando `concat()`, `merge()` y `join()` en pandas, y cómo manejar los valores duplicados o faltantes que puedan surgir al hacerlo. ¡Aplica esto en tus propios conjuntos de datos!